.main{
    position: absolute;
    border: 1px solid red;
    width: 100%;
    margin-left:250px;
    height: 100vh;
}

.content{
    width: 700px;
}
.content > h3{
    color: blue;
    border: 1px solid red;
}
.content > p{
    color: gray;
}