.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.google{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-left: 185px;
    font-size: 30px;
    font-weight: 100;
}
.google > input {
    width: 60%;
    height: 25px;
    /* margin-top: 5px; */
    margin-left: 25px;
    /* border: 1px solid red; */
}
button{
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: none;
    background-color: #70a1ff;
    color: white;
    padding: 15px;
}

.menu-bars {
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 2rem;
    color: gray;
    background: none;
}

.nav-menu{
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 550ms;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 50px;
}

.nav-text a {
    text-decoration: none;
    color: #2f3542;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover{
    background-color: #f1f2f6;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle{
    background-color: white;
    margin-left: -50px;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.navbar-toggle a{
    margin-bottom: 20px;
}

span{
    margin-left: 16px;
}

.nav-text > a{
    font-size: 18px;
}